.inputContainer {
  .checkbox-label {
    color: lightgray;
  }

  .checkbox {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-right: 10px;
    outline: none;
  }
}
